# Objects and binaries.
*.obj
*.o
*.exe
*.dll
*.so

# Code::Blocks shit.
*.layout

# Build directories
build*/
!build_system/

# QtCreator settings
*.pro.user
CMakeLists.txt.user

# Python cache
__pycache__

# Directory with temporary stuff (using during work )
other/
