name: CI_debug_manual_run

on: [workflow_dispatch]

jobs:
  build_debug_llvm_src:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v1
    - name: build project
      run: |
        sudo apt-get update && sudo apt-get install ninja-build
        ./ci/build_debug_llvm_src.sh
